body {
	position:relative;
}

.container {
	position:absolute;
	top:50px;
	margin-bottom:100px;
	left:350px;
	width:423px;
}

h4 {
	font-family:arial;
	text-align:center;
}

.i {
	font-family:arial;
	font-size:15px;
	line-height:13px;
	float:left;
}

.you {
	font-family:arial;
	font-size:15px;
	line-height:13px;
	float:right;
	width:55%;
	text-align:right;
}