body {
	position:relative;
}

.poemcontainer {
	position:absolute;
	top:200px;
}

.poem {
	width:11000px;
}

.list {
	display: inline-block;
	height: 200px;
	width:800px;
}

.last {
	position:top;
}

.and {
	display: inline-block;
	position:relative;
	width:800px;
	height:200px;
}

ul {
	margin-top:-15px;
}

.and2{
	display: block;
	position:absolute;
	top:100px;
	margin:auto;
}

.end {
	display:inline-block;
	font-size:100px;
	}

.end a{
	text-decoration:underline;
	color:blue;
}

.end a:visited {
	color:purple;
}