.loved{
	display:block;
	margin: 1000px auto;
	border-style:solid;
	border-width:5px;
	height:400px;
	width: 400px;
	padding:10px;
}

div#first {
	display:block;
	margin: 200px auto;
	border-style:solid;
	border-width:5px;
	height:400px;
	width: 400px;
	padding:10px;
}

.hated {
	border-style:solid;
	border-width:3px;             
	height:300px;
	width:300px;
	padding:20px;
	margin:auto;
}

.kissed {
	border-style:solid;
	border-width:1px;
	height:200px;
	width:200px;
	padding:20px;
	margin:auto;
}

.lovedhide {
	display:block;
	margin: 1000px auto;
	border-style:solid;
	border-width:5px;
	border-color:white;
	height:400px;
	width: 400px;
	padding:10px;
}

.hatedhide {
	border-style:solid;
	border-width:3px;
	border-color:white;             
	height:300px;
	width:300px;
	padding:20px;
	margin:auto;
}

.lovedhide .hatedhide .kissed a{
	text-decoration:underline;
	color:blue;
}

.lovedhide .hatedhide .kissed:hover{
	background-color:pink;
}

.lovedhide .hatedhide .kissed a:visited{
	text-decoration:underline;
	color:purple;
}