body {
	position:relative;
}

.navcontainer {
	position:fixed;
	top:0;
	right:0;
	left:0;
	bottom:0;
	z-index: 100;
}

.poemcontainer {
	position:absolute;
	width:100%;
	top:0;
	left:0;
}

.poemcontainer div {
	width:250px;
	height:250px;
	display: block;
	position:relative;
	top: 1em;
	left:2em;
}

.title {
	border: 2px solid;
}

.pink {
	border: 2px solid pink;
}

.blue {
	border: 2px solid blue;
}

.red {
	border: 2px solid red;
}

.green {
	border: 2px solid green;
}

.yellow {
	border: 2px solid yellow;
}

