body {
	position:relative;
}


.poemcontainer {
	z-index:1;
	position:absolute;
	width:100vw;
	height:100vw;
	top:0;
	left:0;
}

div {
	width:250px;
	height:250px;
	display: block;
	position:relative;
	top: 1em;
	left:2em;
}

.title {
	border: 2px solid;
}

.pink {
	border: 2px solid pink;
}

.blue {
	border: 2px solid blue;
}

.red {
	border: 2px solid red;
}

.green {
	border: 2px solid green;
}

.yellow {
	border: 2px solid yellow;
}

