a {
	color:black;
	text-decoration:none;
}

a:hover {
	color:red;
}

a:visited {
	color:black;
}

a:active {
	color:pink;
}

.navcontainer{
	z-index:100000;
}

.navfooter{
	z-index:100000;
}

.container {
	position:absolute;
	top:200px;
	left:100px;
	width:1000000px;
	height:100vw;
}

#first {
	display:inline-block;
	margin-right:5em;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:400px;
}

.soft {
	display:inline-block;
	margin-right:3em;
	font-family:'Dancing Script', cursive;
	font-size:400px;
}

.hard {
	display:inline-block;
	margin-right:3em;
	font-family: 'Share Tech Mono', monospace;
	font-size:400px;
}

.mellow {
	display:inline-block;
	margin-right:3em;
	font-family: 'Sansita', sans-serif;;
	font-size:400px;
}

.livid {
	display:inline-block;
	margin-right:3em;
	font-family:Impact, Charcoal, sans-serif;
	font-size:400px;
}

