.poemcontainer a {
	color:red;
	text-decoration:none;
}

.poemcontainer a:visited {
	color:red;
}

.poemcontainer a:active {
	color:red;
}


#first {
	top:100;
	height:100px;
	font-family:Arial, Helvetica, sans-serif;
	margin-left:auto;
	margin-right:auto;
	padding:25px;
	padding-bottom:4em;
	border-width:2px;
	border-style:dotted;
}

h1 {
	display:block;
	text-align:center;
}

h2 {
	text-align:center;
}

.i {
	z-index:1;
	position:absolute;
	width:50%;
	top:220px;
	left:0;
	bottom:100px;
	overflow-y:scroll;
}

.you {
	position:absolute;
	width:50%;
	top:220px;
	right:0;
	bottom:100px;
	overflow-y:scroll;
}

.loved {
	font-family:Georgia, serif;
	font-size:30px;
	margin-top:4em;
	margin-bottom:4em;
	margin-left:2em;
}

.kissed {
	font-size:10px;
	margin-top:2em;
	margin-bottom:2em;
	margin-left:1em;
	font-style:italic;
}

.hated {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:30px;
	font-weight:bold;
	margin-top:4em;
	margin-bottom: 4em;
	margin-left: 3em
}
