.intro {
	position:fixed;
	width:100px;
	height:100vw;
	background-color:white;
	z-index:444;
}

.navheader {
	z-index:11111;
}

.navfooter{
	z-index:11111;
}

body {
	position:relative;
}

.container {
	position:absolute;
	top:200px;
	width: 16500px;
}

.end {
	position:absolute;
	top:-200px;
	right:250px;
	font-size:250px;
	z-index:55;
}

.nightcontainer {
	width: 18000px;
	height:100px;
	position:absolute;
	left:100px;
}

.nightcontainer .nights {
	display:inline-block;
	margin-right:1250px;
	width:250px;
}


.seagullcontainer {
	width: 16500px;
	height:100px;
	position:absolute;
	left:100px;
	top:100px;
}

.seagullcontainer .seagulls {
	display:inline-block;
	font-weight:bold;
	width:250px;
	margin-right:500px;
	margin-left:750px;
}

.dewdropcontainer {
	width: 16500px;
	height:100px;
	position:absolute;
	left:100px;
	top:200px;
}

.dewdropcontainer .dewdrops {
	display:inline-block;
	font-weight:bold;
	width:250px;
	margin-right:250px;
	margin-left:1000px;
}

.oystercontainer {
	width: 16500px;
	height:100px;
	position:absolute;
	left:100px;
	top:300px;
}

.oystercontainer .oysters {
	display:inline-block;
	font-weight:bold;
	width:250px;
	margin-left:1250px;
}

.potatoescontainer {
	width: 16500px;
	height:100px;
	position:absolute;
	left:100px;
	top:400px;
}

.potatoescontainer .potatoes {
	display:inline-block;
	font-weight:bold;
	width:250px;
	margin-right:750px;
	margin-left:500px;
}



.valleycontainer {
	width: 16500px;
	height:100px;
	position:absolute;
	left:100px;
	top:500px;
}

.valleycontainer .valleys {
	display:inline-block;
	margin-right:1000px;
	margin-left:250px;
	width:250px;
}





