.container {
	position:relative;
}

.icontainer {
	position:absolute;
	left:0;
	text-align:left;
}

.youcontainer {
	position:absolute;
	right:0;
	top:54px;
	text-align:right;
}

.icontainer .i {
	font-family:Impact, Charcoal, sans-serif;
	font-size:20px;
}

.icontainer p {
	display:inline-block;
	border-bottom:20px solid black;
}

.youcontainer .you {
	font-family:"Courier New", Courier, monospace;
	font-style:italic;
	letter-spacing:2px;
	font-size:8px;
	padding-top:45px;
}