.navheader {
	z-index:11111;
}

.navfooter {
	z-index:11111;
}

.navleft {
	z-index:11111;
}

.container {
	position:absolute;
	top:200px;
	margin-bottom:200px;
	width:100vw;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:center;
	align-items:center;
	align-content:stretch;
}

.icontainer {
	flex-basis:24vw;
	text-align:center;
}

.youcontainer {
	flex-basis:24vw;
	text-align:center;
}

.icontainer .i {
	font-family:Impact, Charcoal, sans-serif;
	font-size:20px;
}

.icontainer p {
	display:inline-block;
	border-bottom:20px solid black;
}

.youcontainer .you {
	font-family:"Courier New", Courier, monospace;
	font-style:italic;
	letter-spacing:4px;
	line-height:40px;
	font-size:8px;
	padding-top:45px;
}