body {
	position:relative;
}

.container {
	width:800px;
	height:800px;
	position:absolute;
	top:123px;
	left:400px;
	margin:auto;
	background:linear-gradient(black, navy);
}

.circle {
	border-radius:50%;
	width:650px;
	height:650px;
	background: radial-gradient(rgba(193,	116,	154,1), rgba(193,	116,	154,0)); 
	position:absolute;
	left:75px;
	top:75px;
}

.poem {
    top: 18px;
    height: 1000px;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    left: 265px;
	-ms-transform: rotate(-8deg); /* IE 9 */
    -webkit-transform: rotate(-8deg); /* Chrome, Safari, Opera */
    transform: rotate(-8deg);
    }

 