body {
	width:100vw;
	overflow-x:hidden;
	position:relative;
}

div {
	display:block;
	height:20vw;
	width:20vw;
	float:left;
	font-family:courier;
	font-size:12px;
	line-height:12px;
}

.livid {
/*	margin:-1px;
	border-width:1px;
	border-style:dotted;*/
	position:relative;
}

.livid p {
	text-align:left;
	font-style:italic;
	position:absolute;
	left:0;
	top:-12px;
}

.soft {

	border-radius:50%;
	background-color:white;
	position:relative;
	box-shadow: 2px 2px 4px rgba(0,0,0,.5);
}

.soft p {
	width:14vw;
	text-align:center;
	position:absolute;
	top:6vw;
	left:3vw;
	}

.hard {
	/*background-color:black;
		color:white;*/
	text-align:center;
	position:relative;
}

.hard p {
	width:14vw;
	position:absolute;
	top:6vw;
	left:3vw;
	border-bottom:12px solid black;
}

.mellow {
	position:relative;
}

.mellow p {
	text-align:center;
	position:absolute;
	top:6vw;
	left:3vw;
}

#first {
	position:relative;
}

#first p {
	position:absolute;
	top:6vw;
}
