body {
	position:relative;
}

.container {
	position:absolute;
	top:100px;
	width:100%;
}

.icontainer {
	float:left;
	width:50%;
	text-align:left;
	transform:rotateY(180deg);
}

.youcontainer {
	float:right;
	width:49%;
	text-align:right;
	transform:rotateY(180deg);
}

.icontainer .i:hover {
	transform:rotateY(180deg);
	text-align:right;
}

.youcontainer .you:hover {
	transform:rotateY(180deg);
	text-align:left;
}