body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:25px;
}


.content {
    	width:900px;
    	height: 500px;
    	margin-top:200px;
    	margin-left:2em;
   }


#front {
	padding-top:2em;
	padding-bottom:4em;
}

#mission{
	height:800px;
}

.gallery {
	width:10000px;
	padding-top:2em;
	padding-bottom:4em;
}

img {
	height:600px;
}


#artists {
	height:1000px;
}

#travis {
	font-style:italic;
	color:blue;
}

.audio {
	width:800px;
    height: 800px;
    margin-left:2em;
}

.back {
	font-size:25px;
	position:fixed;
	bottom:200px;
	left:1em;
}

.next {
	font-size:25px;
	position:fixed;
	bottom:200px;
	right:1em;
}