body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:25px;
}

a:link {
	text-decoration:none;
	color:red;
}

a:visited{
	text-decoration:none;
	color:red;
}

a:active {
	text-decoration:none;
	color:red;
}

ul {
	list-style-type: circle;
}

.content {
    	width:800px;
    	height: 800px;
    	margin-top:200px;
    	margin-left:2em;
   }

.travis {
	font-style:italic;
	color:blue;
	width:800px;
	height:1000px;
	margin-top:2em;
	margin-left:2em;
}

.audio {
	width:800px;
    height: 800px;
    margin-left:2em;
}

.back {
	font-size:25px;
	position:fixed;
	bottom:200px;
	left:1em;
}

.next {
	font-size:25px;
	position:fixed;
	bottom:200px;
	right:1em;
}

#travis {
	font-style:italic;
	color:blue;
}