.window {
	width:1200px;
	height:200px;
	display:block;
	top:100px;
	left:100px;
}

.container {
	position:relative;
	display:inline-block;
	height:100px;
	width:75px;
	top:50px;
	left:50px;
/*	background-color:green;*/
}

.left {
	height:100px;
	width:10px;
	background-color:green;
	position:absolute;
	top:0px;
	left:0px;
	-webkit-animation: spin 60s infinite linear;
	-moz-animation: spin 60s infinite linear;
	-o-animation: spin 60s infinite linear;
	-ms-animation: spin 60s infinite linear;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); -webkit-transform-origin:bottom left;}
	100% { -webkit-transform: rotate(360deg); -webkit-transform-origin:bottom left;}
}



.right {
	height:100px;
	width:10px;
	background-color:green;
	position:absolute;
	top:0px;
	right:0px;
	-webkit-animation: spin 60s infinite linear;
	-moz-animation: spin 60s infinite linear;
	-o-animation: spin 60s infinite linear;
	-ms-animation: spin 60s infinite linear;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); -webkit-transform-origin:bottom left;}
	100% { -webkit-transform: rotate(360deg); -webkit-transform-origin:bottom left;}
}


.top {
	width:65px;
	height:10px;
	background-color:green;
	position:absolute;
	top:0;
	left:10px;
}

.bottom {
	width:65px;
	height:10px;
	background-color:green;
	position:absolute;
	top:90px;
	left:10px;
}

.middle {
	width:65px;
	height:10px;
	background-color:green;
	position:absolute;
	top:40px;
	left:10px;
}

.righthalf {
	height:50px;
	width:10px;
	background-color:green;
	position:absolute;
	top:0px;
	right:0px;
}

.upmid {
	height:100px;
	width:10px;
	background-color:green;
	position:absolute;
	top:0px;
	left:32px;
}

.diagonal {
	height:100px;
	width:10px;
	background-color:green;
	position:absolute;
	top:0px;
	left:0px;
	transform: rotate(30deg);
}

.diaghalf {
    width: 65px;
    height: 10px;
    background-color: green;
    position: absolute;
    top: 24px;
    left: -54px;
    transform: rotate(-105deg);
}

.topo {
	width:55px;
	height:10px;
	background-color:green;
	position:absolute;
	top:0;
	left:10px;
}

.bottomo {
	width:55px;
	height:10px;
	background-color:green;
	position:absolute;
	top:90px;
	left:10px;
}

.topk {
    width: 65px;
    height: 10px;
    background-color: green;
    position: absolute;
    top: 24px;
    left: 10px;
    transform: rotate(-38deg);
}

.bottomk {
	width: 65px;
    height: 10px;
    background-color: green;
    position: absolute;
    bottom: 24px;
    left: 10px;
    transform: rotate(38deg);
}

.lefta {
	height: 100px;
    width: 10px;
    background-color: green;
    position: absolute;
    top: 0px;
    left: 14px;
    transform: rotate(15deg);
}

.righta {
	height: 100px;
    width: 10px;
    background-color: green;
    position: absolute;
    top: 0px;
    right: 14px;
    transform: rotate(-15deg);
}

.middlea {
	width:25px;
	height:10px;
	background-color:green;
	position:absolute;
	top:40px;
	left:25px;
}

