.container {

	width:70px;
	height:100px;
}

.box {
	display:inline-block;
	width:10px;
	height:10px;
/*	background-color:green;*/
	position:relative;

}

.dotupperleft {
	border:1px black solid;
	border-radius:50%;
	height:2px;
	width:2px;
	position:absolute;
	top:0;
	left:0;
}