.information {
	width: 62vw;
    left: 19vw;
    top: 28vw;
    animation-name:fadetext;
	animation-duration:4s;
}


@keyframes fadetext{
	0% {opacity:0;}
	100% {opacity:1;}
}

.fadeout {
	animation-name:fadeout;
	animation-duration:1s;
}

@keyframes fadeout {
	0% {opacity:1;}
	100% {opacity:0;}
}

.pauline {
	font-style: italic;
}

#quote:hover {
	background-color:black;
	color:white;
	animation-duration:0s;
}

.space {
	margin-top:50px;
}

#tagline {
	margin-left:50px;
}

.imagecontainer {
	position:absolute;
	top:10vh;
	right:-4vw;
	width:20vw;
	height:80vh;
	display:none;
	z-index:-99999;
}

.fadein {
	animation: fadein 2s forwards;
}

@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}

img {
	height:15vh;
	display:block;
	padding:4px;
}


