.container {
	margin-left:10px;
}

p {
/*	line-height:60px;*/
	font-size:30px;
}

img {
/*	width:35vw;*/
	/*position:absolute;
	right:0;
	top:0;*/
	display:none;
	height:100px;
}

a {
	color:black;
	text-decoration:none;
}

a:hover {
	background-color:yellow;
}
/*
#art {
	position:absolute;
	top:2vh;
}
#artists {
	position:absolute;
	top:4vh;
}
#galleries {
	position:absolute;
	top:6vh;
}
#museums{
	position:absolute;
	top:8vh;
}
#solo{
	position:absolute;
	top:10vh;
}
#group{
	position:absolute;
	top:12vh;
}
#whitney{
	position:absolute;
	top:14vh;
}
#video{
	position:absolute;
	top:16vh;
}
#foam {
	position:absolute;
	top:18vh;
}
#installation {
	position:absolute;
	top:20vh;
}
#funny {
	position:absolute;
	top:22vh;
}
#paintings {
	position:absolute;
	top:24vh;
}
#collage {
	position:absolute;
	top:26vh;
}
#documentary {
	position:absolute;
	top:28vh;
}
#institutional {
	position:absolute;
	top:30vh;
}
#artistsinstitute {
	position:absolute;
	top:32vh;
}
#lucy {
	position:absolute;
	top:34vh;
}
#penny {
	position:absolute;
	top:36vh;
}
#gentlewoman {
	position:absolute;
	top:38vh;
}
#olson {
	position:absolute;
	top:40vh;
}
#row {
	position:absolute;
	top:42vh;
}
*/