
body {
    overflow: hidden;
    cursor:default;
}



.container {
	width:100vw;
	height:100vh;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
}

.circle {
	width:80vh;
	height:80vh;
	border-radius:50%;
	border:4px solid black;
	animation-name:fadeborder;
	animation-iteration-count:1;
	animation-duration:4s;
}

@keyframes fadeborder { 
	from {border-color:white;}
	to {border-color:black;}
}
/*
.circle:hover {
	animation:fadebordertwo 1s;
}*/

@keyframes fadebordertwo {
	from {border-color:black;}
	to {border-color:white;}
}

.dot {
	position:fixed;
	top:50vh;
	left:50vw;
	width:8px;
	height:8px;
	background-color:black;
	border-radius:50%;
	animation-name:fade;
	animation-duration:4s;
}

@keyframes fade {
	from {background-color:white;}
	to {background-color:black;}
}

.dot:hover {
	background-color:white;
}


.info {
    position:fixed;
    bottom:5vh;
    left:5vh;
/*    background-color:red;*/
    z-index:1;
    animation:fadein 4s forwards;
}   

@keyframes fadein {
	from {color:white;}
	to {color:black;}
}

.info:hover {
	background-color:black;
	color:white;
	animation:none;
}

a {
	color:black;
}
