.container {
    z-index:0;
}

body {
    overflow:hidden;
}

a {
    color:black;
    text-decoration:none;
}

.intro {
    width:100vw;
    height:100vh;
    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:10000;
}   

.title {
    text-align:center;
    font-size: 31px;
    margin:2px;
}

.author {
    margin:1em;
    font-size:21px;
}


.button {
    font-style:italic;
}

/*.scorecontainer {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}*/

.score {
    position: fixed;
    width: 62vw;
    left: 19vw;
    top: 28vw;
    /* background-color: red; */
    /* opacity: 0; */
    /* display: block; */
    font-size: 31px;
    letter-spacing: 0px;
    z-index: -10000;
    /* display: block; */
/*    opacity:0;*/
    animation: fadescore;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

.pause {
    animation-play-state: paused;
}

.fadeout {
    animation:fadeout 2s forwards;
}

@keyframes fadeout {
    0% {opacity:1;}
    100% {opacity:0;}
}

@keyframes fadescore {
    0%   {opacity:0;}
    5%  {opacity:1;}
    95% {opacity:1;}
    100% {opacity:0;}
}


@keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}

