   body {
   	width:100vw;
   	height:100vh;
   	background-color:silver;
   	position:relative;
         }

   .container {
   		width:50vw;
   		left:25vw;
   		top:20vw;
/*   		background-color:red;*/
   		position:absolute;
   }


/*
   .textblock {
      z-index:100;
   }*/

   .word {
         font-family: 'EB Garamond', serif;
         font-size:50px;
         margin-left:0px;
         margin-right:6px;
         margin-top:-10px;
         display:inline-block;
/*         background-color:pink;*/
   }

      .audiotracks {
/*         background-color:orange;*/
         position:absolute;
         left: 0;
         top: 17px;
/*         top:51px;*/
         width: 50vw;
         height: 50vw;
         z-index:1000;
   }

   audio {
         margin-left:0px;
         margin-right:2px;
         margin-top:-14px;
         margin-bottom:25px;
         display:inline-block;
/*         display:block;*/
         height:41px;
   }

   .what 
      {
      background-color:white;
     height: 40px;
    width: 109px;
      }

   .sound {
      background-color:white;
/*      margin-right:7px;*/
      height: 40px;
      width:116px;
   }

   .is {
      background-color:white;
      height: 40px;
      width:50px;
   }

   .the {
       background-color:white;
      height: 40px;
      width:63px;
   }

   .most {
      background-color:white;
      height: 40px;
      width:100px;
   }

   .familiar {
      background-color:white;
      height: 40px;
      width:147px;
   }

   .to {
       background-color:white;
      height: 40px;
      width:50px;
   }

   .youa {
      background-color:white;
      height: 40px;
      width:88px;
   }

   .you {
      background-color:white;
      height: 40px;
      width:75px;
   }

   .can {
      background-color:white;
      height: 40px;
      width:85px;
   }

   .describe{
      background-color:white;
      height: 40px;
      width:150px;
   }
   .it {
      background-color:white;
      height: 40px;
      width:50px;
   }
   .without {
      background-color:white;
      height: 40px;
      width:150px;
   }

   .referring {
      background-color:white;
      height: 40px;
      width:174px;
/*      margin-right:7px;*/
   }

   .source {
      background-color:white;
      height: 40px;
      width:150px;
   }
   .its {
      background-color:white;
      height: 40px;
      width:48px;
   }

   .effect {
      background-color:white;
      height: 40px;
      width:120px;
   }
   .on {
      background-color:white;
      height: 40px;
      width:48px;
   }