body {
	width:100vw;
	height:100vh;
	background-color:lavender;
}

.track {
	width:100vw;
	height:100vh;
/*	background-color:red;*/
}

.line {
	top:0;
	bottom:0;
	position:absolute;
	left:0px;
	width:2px;
	background-color:orangered;
	animation-name:track;
	animation-duration:1225s;

}

@keyframes track {
	0% {left:0px;}
	100% {background-color:magenta; left:100vw;}
}

.pause {
	animation-play-state: paused;
}

