.container {
    z-index:0;
}

a {
    color:black;
    text-decoration:none;
}

.info {
    position:fixed;
    bottom:5vh;
    left:5vh;
/*    background-color:red;*/
    z-index:1;
}   


/*.scorecontainer {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
}*/

.score {
    position: fixed;
    width: 62vw;
    left: 19vw;
    top: 28vw;
    /* background-color: red; */
    /* opacity: 0; */
    /* display: block; */
    font-size: 31px;
    letter-spacing: 0px;
    z-index: 10000;
    /* display: block; */
    animation: fadescore;
    animation-duration: 60s;
    animation-iteration-count: infinite;
}

@keyframes fadescore {
    0%   {opacity:0;}
    5%  {opacity:1;}
    95% {opacity:1;}
    100% {opacity:0;}
}

.title {
    position:fixed;
    right:5vh;
    bottom:5vh;
/*    background-color:red;*/
    z-index:1;
    animation:fadein 2s;
}

@keyframes fadein{
    0%{opacity:0;}
    100%{opacity:1;}
}

