.letter {
	display: inline-block;
	vertical-align: top;
	height: 210px;
	position: relative;
	margin:2px;
}

.letter-inside {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
}

.space {
	width:4vw;
}

.letter .a {
	width:100px;
}

.a .left-diag {
	width:4px;
	background-color:white;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    transform: rotate(13deg);
    transform-origin:bottom;
}

.a .right-diag {
	width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    transform: rotate(-13deg);
    transform-origin:bottom;
}

.a .middle-a {
	height:4px;
	width:38px;
	top:35%;
	background-color:white;
	position:absolute;
}

.letter .b {
		width:100px;
}

.b .left {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.b .diag-up {
	height:4px;
	position:absolute;
	top:3px;
	left:2px;
	width:100%;
	background-color:white;
	transform: rotate(21deg);
	transform-origin:0 0;
}

.b .diag-down {
	height:4px;
	width:100px;
	left:-1px;
	position:absolute;
	top:27%;
	background-color:white;
	transform: rotate(-23deg);
}

#bbottom {
	top:35%;
}

#bbbottom {
	top:186px;
}

.b-mid-right {
    width: 4px;
    position: absolute;
    top: 53%;
    bottom: 19%;
    right: 4px;
    background-color: white;
}

.letter .c {
		width:100px;
}

.c .left {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.c .top {
	height:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	right:0;
}

.c .bottom {
	height:4px;
	background:white;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.letter .d {
		width:100px;
}

.d .left {
	width:4px;
	background:white;
	position:absolute;
	top:6px;
	left:0;
	bottom:0;
}

.d .diag-up {
	height:4px;
	width:92%;
	position:absolute;
	top:2%;
	left:1px;
	background-color:white;
	transform: rotate(22deg);
	transform-origin:0 0;
}

.d .dbottom {
	height:4px;
	width:89%;
	position:absolute;
	top:189px;
	left:0;
	background-color:white;
	transform: rotate(-22deg);
}

.d .mid-right {
    width:4px;
    position: absolute;
    top: 39px;
    bottom: 16%;
    right: 13px;
    background-color: white;
}

.letter .e {
		width:100px;
}

.e .left {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.e .top {
	height:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	right:0;
}

.e .bottom {
	height:4px;
	background:white;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.e .middle-e {
	height:4px;
	background:white;
	position:absolute;
	bottom:61%;
	left:0;
	right:0;
}

.letter .f {
		width:100px;
}

.f .left {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.f .top {
	height:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	right:0;
}

.f .middle-e {
	height:4px;
	background:white;
	position:absolute;
	bottom:61%;
	left:0;
	right:0;
}

.letter .g {
		width:100px;
}

.g .left {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.g .bottom {
	height:4px;
	background:white;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.g .right-g {
	width:4px;
	background:white;
	position:absolute;
	bottom:0;
	top:35%;
	right:0;
}

.g .hook-g {
	height:4px;
	background:white;
	position:absolute;
	top:35%;
	left:75%;
	right:0;
}

.g .top {
	height:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	right:0;
}

.letter .h {
		width:100px;
}

.h .left {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.h .right {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	bottom:0;
	right:0;
}

.h .middle-e {
	height:4px;
	background:white;
	position:absolute;
	bottom:61%;
	left:0;
	right:0;
}

.i {
	width:30px;
}

.i .middle {
	width:4px;
	background-color:white;
	position:absolute;
	top:4px;
	bottom:-1px;
}

.letter .j {
		width:100px;
}

.j .right {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	bottom:0;
	right:0;
}

.j .jbottom {
	height:4px;
	width:89px;
	position:absolute;
	top:189px;
	right:0;
	background-color:white;
	transform: rotate(202deg);
}

.letter .k {
		width:100px;
	margin-left:20px;
}

.k .left {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.k .diag-down {
	height:4px;
	width:89%;
	position:absolute;
	top:27%;
	left:0;
	background-color:white;
	transform: rotate(-22deg);
}

.k .diag-down-long {
   	width:4px;
   	height:100%;
    background-color: white;
    position: absolute;
    top: 35%;
    bottom:0;
    left:0;
    transform: rotate(-13deg);
    transform-origin:top;
}

.letter .l {
	width:100px;
}

.l .left {
	width:4px;
	background:white;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}

.l .bottom {
	height:4px;
	background:white;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
/*	-webkit-animation: lbottomspin 60s infinite linear;
	-moz-animation: lbottomspin 60s infinite linear;
	-o-animation: lbottomspin 60s infinite linear;
	-ms-animation: lbottomspin 60s infinite linear;*/
}
/*
@-webkit-keyframes lbottomspin {
	0% { -webkit-transform: rotate(0deg); -webkit-transform-origin:0% 0%;}
	100% { -webkit-transform: rotate(-360deg); -webkit-transform-origin:0% 0%;}
}
*/

.letter .m {
		width:100px;
}


.m .left {
	width:4px;
	background:white;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}

.m .right {
	width:4px;
	background-color:white;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
}

.m .left-diag {
	width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    left:48%;
    transform: rotate(13deg);
    transform-origin:bottom;
}

.m .right-diag {
	width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    left:48%;
    transform: rotate(-13deg);
    transform-origin:bottom;
}

.n {
	width:51px;
}

.n .left {
	width:4px;
	background:white;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}

.n .right {
	width:4px;
	background-color:white;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
}

.n .right-diag {
	width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    transform: rotate(-13deg);
    transform-origin:bottom;
}

.alt-o {
	height:210px;
	width:210px;
	border:4px white solid;
	border-radius:50%;
}

.letter .p {
		width:100px;
}

.p .left {
	width:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.p .top {
	height:4px;
	background:white;
	position:absolute;
	top:2%;
	left:0;
	right:0;
}

.p .middle-e {
	height:4px;
	background:white;
	position:absolute;
	bottom:61%;
	left:0;
	right:0;
}

.p .rightp {
	width: 4px;
    background: white;
    position: absolute;
    right: 0;
    top: 6px;
    bottom: 63%;
}

.letter .q {
	width:100px;
	overflow:visible;
}

.q .left {
	width:4px;
	background-color:white;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}

.q .right {
	width:4px;
	background-color:white;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
}


.q .bottom {
	height:4px;
	background-color:white;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
}

.q .top {
	height:4px;
	background-color:white;
	position:absolute;
	top:0%;
	left:0;
	right:0;
}

.q .qdiag {
   	width:4px;
   	height:100%;
	background-color:white;
    position: absolute;
    top: 35%;
    bottom:0;
    right:50%;
    transform: rotate(-13deg);
    transform-origin:0% 0%;
/*	-webkit-animation: qdiaggg 60s infinite linear;
	-moz-animation: qdiaggg 60s infinite linear;
	-o-animation: qdiaggg 60s infinite linear;
	-ms-animation: qdiaggg 60s infinite linear;*/
}
/*
@-webkit-keyframes qdiaggg {
	0% { -webkit-transform: rotate(0deg); -webkit-transform-origin:0% 0%;}
	100% { -webkit-transform: rotate(360deg); -webkit-transform-origin:0% 0%;}
}
*/

.letter .r {
		width:100px;
}

.r .left {
	width:4px;
	background-color:white;
	position:absolute;
	top:2%;
	left:0;
	bottom:0;
}

.r .top {
	height:4px;
	background-color:white;
	position:absolute;
	top:2%;
	left:0;
	right:0;
}

.r .middle-e {
	height:4px;
	background-color:white;
	position:absolute;
	bottom:61%;
	left:0;
	right:0;
}

.r .rightp {
	width: 4px;
	background-color:white;
    position: absolute;
    right: 0;
    top: 6px;
    bottom: 63%;
}

.r .diag-down-long {
   	width:4px;
   	height:100%;
	background-color:white;
    position: absolute;
    top: 35%;
    bottom:0;
    left:0;
    transform: rotate(-13deg);
    transform-origin:top;
}

.s {
    width: 150px;
    margin-left: -50px;
}

.s .right-diag {
    width: 4px;
	background-color:white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: rotate(-13deg);
    transform-origin: top;
}

.s .jbottom {
    height: 4px;
    width: 50%;
    position: absolute;
    top: 187px;
    left: 51px;
	background-color:white;
    transform: rotate(202deg);
}

.s .diag-up {
    height: 4px;
    width: 50%;
    position: absolute;
    top: 0;
    left: 77px;
	background-color:white;
    transform: rotate(22deg);
    transform-origin: 0 0;
}

.letter .t {
	width:80px;
}

.t .middle {
	width:4px;
	background-color:white;
	position:absolute;
	top:0;
	bottom:0;
}

.t .top {
	height:4px;
	background:white;
	position:absolute;
	top:0;
	left:0;
	right:0;
}

.letter .u {
		width:100px;
}

.u .left {
	width:4px;
	background:white;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}

.u .right {
	width:4px;
	background:white;
	position:absolute;
	top:0;
	bottom:38px;
	right:0;
}

.u #ubottom {
	height:4px;
	position:absolute;
	left:0;
	right:0;
	background-color:white;
	transform: rotate(-22deg);
	top:187px;
}

.letter .v {
		width:100px;
}

.v .right-diag {
    width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    transform: rotate(-13deg);
    transform-origin:top;
}

.v .left-diag {
    width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    transform: rotate(13deg);
    transform-origin:top;
}

.letter .w {
		width:100px;
}

.w .left {
	width:4px;
	background:white;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
}

.w .right {
	width:4px;
	background-color:white;
	position:absolute;
	top:0;
	right:0;
	bottom:0;
}

.w .right-diag {
    width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    transform: rotate(-13deg);
    transform-origin:bottom;
}

.w .left-diag {
    width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    left:0;
    transform: rotate(13deg);
    transform-origin:bottom;
}

.letter .x {
		width:100px;
}

.x {
	width:41px;
	margin-left:10px;
	margin-right:10px;
/*	-webkit-animation: xspin 60s infinite linear;
	-moz-animation: xspin 60s infinite linear;
	-o-animation: xspin 60s infinite linear;
	-ms-animation: xspin 60s infinite linear;*/
}
/*
@-webkit-keyframes xspin {
	0% { -webkit-transform: rotate(0deg); -webkit-transform-origin:50% 50%;}
	100% { -webkit-transform: rotate(360deg); -webkit-transform-origin:50% 50%;}
}*/

.x .right-diag {
    width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:-4px;
    left:25px;
    transform: rotate(-13deg);
    transform-origin:top;
}

.x .left-diag {
    width:4px;
    background-color: white;
    position: absolute;
    top: 0;
 	bottom:-4px;
    right:25px;
    transform: rotate(13deg);
    transform-origin:top;
}

.letter .y {
		width:100px;
}

.y .left-diag {
    width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    right:0;
    transform: rotate(13deg);
    transform-origin:top;
}

.y .jbottom {
	height:4px;
	width:89%;
	position:absolute;
	top:35%;
	right:18px;
	background-color:white;
	transform: rotate(202deg);
}

.letter .z {
	width:78px;
}

.z .left-diag {
	width:4px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom:0;
    right:18%;
    transform: rotate(13deg);
    transform-origin:top;
}

.z .bottom {
	height:4px;
	width:80px;
	background:white;
	position:absolute;
	bottom:2px;
	left:15px;
	right:0;
}

.z .top {
	height:4px;
	background:white;
	position:absolute;
	top:0%;
	left:0;
	width:80px;
}
/*
.spin {
	-webkit-animation: spin 60s infinite linear;
	-moz-animation: spin 60s infinite linear;
	-o-animation: spin 60s infinite linear;
	-ms-animation: spin 60s infinite linear;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); -webkit-transform-origin:bottom left;}
	100% { -webkit-transform: rotate(360deg); -webkit-transform-origin:bottom left;}
}
*/


