body { overflow-x: hidden; }

.letter-definition {
	display: none;
}

.info {
	width:50px;
	height:50px;
	position:fixed;
	top:2vh;
	right:4vw;
	z-index:500000;
}

a {
	text-decoration:none;
	color:inherit;
}

.infoline {
	height:50px;
	width:4px;
	background-color:lightgray;
	position:fixed;
	top:2vh;
	right:4vw;
}

#ainfo {
	transform:rotate(7deg);
}

#binfo {
	transform:rotate(-15deg);
}

#cinfo {
	transform:rotate(37deg);
}

#dinfo {
	transform:rotate(90deg);
}

/*PAGE STYLING*/

.track2 {
	width:100vw;
	height:100vh;
	position:relative;
	transition:background-color 4s;
}

.track2:hover {
	background-color:lightsteelblue;
}

.track3 {
	width:100vw;
	height:575px;
	position:relative;
}

.track3:hover{
	background-color:coral;
}

.track4 {
	width:100vw;
	height:100vh;
	position:relative;
	transition:background-color 1s;
}

.track4:hover{
	background-color:pink;
}

.track5 {
	width:100vw;
	height:575px;
	position:relative;
}

.track5:hover{
	background-color:orange;
}

.track6 {
	width:100vw;
	height:100vh;
	position:relative;
	transition:background-color 1s;
}

.track6:hover{
	background-color:lime;
	transition:all 2s ease-in;
}

.track7 {
	width:100vw;
	height:100vh;
	position:relative;
	transition:background-color 1s;
}

.track7:hover {
	background-color:indigo;
	transition:all 10s ease-in;
}

.textcontainer {
	width:100vw;
	position:absolute;
	top:0;
	bottom:0px;
	left:0;
	display:flex;
	flex-direction:column;
	flex-wrap:none;
	justify-content:center;
	align-items:center;
}

#track3title{
	height:499px;
}

#track5title{
	height:499px;
}

.line {
	margin:2px;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.controlcontainer {
	width:100vw;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	display:flex;
	flex-direction:row;
	flex-wrap:none;
	justify-content:flex-start;
}

.control {
/*	border:2px yellow solid;*/
	width:20%;
	z-index:100;
}

/*track 2 playback im still waiting*/
#slowest2 {
	width:20%;
}

#slower2 {
	width:15%;
}

#slow2 {
	width:15%;
}

#normal2 {
	width:15%;
}

#fast2 {
	width:15%;
}

#faster2 {
	width:20%;
}

/*track 3 playback go to him*/
#slowest3 {
	width:15%;
}

#slower3 {
	width:15%;
}

#slow3 {
	width:15%;
}

#normal3 {
	width:25%;
}

#fast3 {
	width:15%;
}

#faster3 {
	width:15%;
}

/*TRACK 4 PLAYBACK REGGAE IS BACK*/

#slowest4 {
	width:10%;
}

#slower4 {
	width:10%;
}

#slow4 {
	width:10%;
}

#normal4 {
	width:30%;
}

#fast4 {
	width:25%;
}

#faster4 {
	width:25%;
}

/*track 5 playback DIRTY BACK ROADS*/
#slowest5 {
	width:16%;
}

#slower5 {
	width:16%;
}

#slow5 {
	width:16%;
}

#normal5 {
	width:17%;
}

#fast5 {
	width:16%;
}

#faster5 {
	width:16%;
}

/*track 6 playback DAFS*/
#slowest6 {
	width:20%;
}

#slower6 {
	width:20%;
}

#slow6 {
	width:20%;
}

#normal6 {
	width:5%;
}

#fast6 {
	width:20%;
}

#faster6 {
	width:15%;
}

/*track 7 playback CHRONIC DOPE*/
#slowest7 {
	width:25%;
}

#slower7 {
	width:25%;
}

#slow7 {
	width:25%;
}

#normal7 {
	width:10%;
}

#fast7 {
	width:10%;
}

#faster7 {
	width:5%;
}

/*AUDIO*/

audio {
	display:none;
}

/*ANIMATION*/

.slowest {
	-webkit-animation: spin 120s infinite linear;
	-moz-animation: spin 120s infinite linear;
	-o-animation: spin 120s infinite linear;
	-ms-animation: spin 120s infinite linear;
}

.slowersixty {
	-webkit-animation: spin 60s infinite linear;
	-moz-animation: spin 60s infinite linear;
	-o-animation: spin 60s infinite linear;
	-ms-animation: spin 60s infinite linear;
}

.slower {
	-webkit-animation: spin 30s infinite linear;
	-moz-animation: spin 30s infinite linear;
	-o-animation: spin 30s infinite linear;
	-ms-animation: spin 30s infinite linear;
}

.slow {
	-webkit-animation: spin 15s infinite linear;
	-moz-animation: spin 15s infinite linear;
	-o-animation: spin 15s infinite linear;
	-ms-animation: spin 15s infinite linear;
}

.normal {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
}

.fast {
	-webkit-animation: spin 0.5s infinite linear;
	-moz-animation: spin 0.5s infinite linear;
	-o-animation: spin 0.5s infinite linear;
	-ms-animation: spin 0.5s infinite linear;
}

.faster {
	-webkit-animation: spin 0.1s infinite linear;
	-moz-animation: spin 0.1s infinite linear;
	-o-animation: spin 0.1s infinite linear;
	-ms-animation: spin 0.1s infinite linear;
}

.pause {
	-webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); -webkit-transform-origin:bottom left;}
	100% { -webkit-transform: rotate(360deg); -webkit-transform-origin:bottom left;}
}
