body { overflow-x: hidden; }

.letter-definition {
	display: none;
}

/*PAGE STYLING*/

.track1 {
	height:100vh;
	width:100vw;
	position:relative;
	background-color:black;
}

.track1:hover {
	background-color:red;
}

.track2 {
	width:100vw;
	height:100vh;
	position:relative;
	transition:background-color 4s;
}

.track2:hover {
	background-color:lightsteelblue;
}

.track3 {
	width:100vw;
	height:50vh;
	position:relative;
}

.track3:hover{
	background-color:coral;
}

.track4 {
	width:100vw;
	height:100vh;
	position:relative;
	transition:background-color 1s;
}

.track4:hover{
	background-color:pink;
}

.track5 {
	width:100vw;
	height:50vh;
	position:relative;
}

.track5:hover{
	background-color:orange;
}

.track6 {
	width:100vw;
	height:100vh;
	position:relative;
	transition:background-color 2s;
}

.track6:hover{
	background-color:lime;
}

.track7 {
	width:100vw;
	height:100vh;
	position:relative;
	transition:background-color 2s;
}

.track7:hover {
	background-color:indigo;
}

.textcontainer {
	width:100vw;
	position:absolute;
	top:0;
	bottom:0px;
	left:0;
	display:flex;
	flex-direction:column;
	flex-wrap:none;
	justify-content:center;
	align-items:center;
}

.controlcontainer {
	width:100vw;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	display:flex;
	flex-direction:row;
	flex-wrap:none;
	justify-content:flex-start;
}

.control {
/*	border:2px yellow solid;*/
	width:20%;
	z-index:100;
}

/*AUDIO*/

audio {
	display:none;
}

/*ANIMATION*/

.slowest {
	-webkit-animation: spin 120s infinite linear;
	-moz-animation: spin 120s infinite linear;
	-o-animation: spin 120s infinite linear;
	-ms-animation: spin 120s infinite linear;
}

.slower {
	-webkit-animation: spin 30s infinite linear;
	-moz-animation: spin 30s infinite linear;
	-o-animation: spin 30s infinite linear;
	-ms-animation: spin 30s infinite linear;
}

.slow {
	-webkit-animation: spin 15s infinite linear;
	-moz-animation: spin 15s infinite linear;
	-o-animation: spin 15s infinite linear;
	-ms-animation: spin 15s infinite linear;
}

.normal {
	-webkit-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
}

.fast {
	-webkit-animation: spin 0.5s infinite linear;
	-moz-animation: spin 0.5s infinite linear;
	-o-animation: spin 0.5s infinite linear;
	-ms-animation: spin 0.5s infinite linear;
}

.faster {
	-webkit-animation: spin 0.1s infinite linear;
	-moz-animation: spin 0.1s infinite linear;
	-o-animation: spin 0.1s infinite linear;
	-ms-animation: spin 0.1s infinite linear;
}

.pause {
	-webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
    animation-play-state: paused;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); -webkit-transform-origin:bottom left;}
	100% { -webkit-transform: rotate(360deg); -webkit-transform-origin:bottom left;}
}
